<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
<body class="body-collection">
    <%- include("../partials/header.ejs")%>
    <%- include("../partials/characterDisplay.ejs")%>
    <%- include("../partials/footer.ejs")%>
    <%- include("../partials/bottomNavigationBar.ejs")%>
</body>
</html>