<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
<body class="<%= bodyClass %>">
    <%- include("../partials/header.ejs")%>
    <div class="skewed-hero-wrapper">
        <div id="skew-hero" class="skew">
            <div class="content">
                <h2>Carlex Corporation</h2>
                <a href="/summon">Get Started</a>
            </div>
        </div>
    
    </div>
    <div class="image-section-skew">
        <div id="skew-hero2" class="skew">
        </div><%- include("../partials/imageSection.ejs")%>
        </div>
    </div>
    <%- include("../partials/footer.ejs")%>
    <%- include("../partials/bottomNavigationBar.ejs")%>
</body>
</html>